<div id="serverState">
 <div class="active-scaffold default-theme">

	<% maintenance = ServerState.is_maintenance? %>
	<div class="active-scaffold-header">
		<div class="actions"><a href="/admin/server_state/set_<%=(maintenance ? 'out' : 'in')%>"><% if maintenance -%>Sortir de la<%else-%>Mettre en<%end-%> maintenance</a></div>
		<h2>ServerState Maintenance</h2>
	</div>
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>Ip autorisee</th>
				<th class="actions"><a href="" onclick="ServerState.addIp();return false;">Ajouter</a></th>
			</tr>
			<tr id="addIp" style="display:none">
				<th colspan="2">
					<div id="addIpEdit">
					</div>
				</th>
			</tr>
		</thead>
		<tbody class="records">
		<% 
#		  @authorizedIps = ServerStatus.first.ips
		  
		   if @authorizedIps.nil? || @authorizedIps.empty? -%>
			<tr class="record">
				<td colspan="2">Pas d'ip enregistree pour outrepasser la maintenance</td>
			</tr>
		<% else 
			count = 0
			 @authorizedIps.each do |ip| 
			 odd = (count%2 == 0 ? ' odd' : '') -%>
			 <tr class="record <%=odd%>" id="record-<%=ip%>">
			 	<td><%=ip%></td>
				<td class="actions"><a href="" onclick="ServerState.removeIp('<%=ip%>';return false">Retirer</a></td>
			 </tr>
			<% end -%>
		<% end -%>
		</tbody>
	</table>
</div>
</div>
<script type="text/javascript">
ServerState = new Object();
ServerState.addIp = function(ip) {
	new Ajax.Updater('addIpEdit', '<%= url_for(:controller => 'server_state', :action => 'add_ip')%>',
		{
			method:'post',
			postBody:'ip='+(ip == undefined ? '' : ip ),
			onComplete:function(){$('addIp').show();}
		}
	);
};
ServerState.removeIp = function(ip) {
	var elem = $('record_'+ip);
	if(elem) {
		elem.hide();
		elem.nextSibling().each(function(nextElem) {
			if(nextElem.hasClassName('odd'))
				nextEleme.removeClassName('odd');
			else
				nextEleme.addClassName('odd');
		});
	}
};

</script>
