
<div id="serverState">
	<div class="active-scaffold default-theme">

		<% maintenance = ServerState.is_maintenance? %>
		<div class="active-scaffold-header">
			<div class="actions"><a href="<%= url_for(:controller => 'server_state', :action => "set_#{(maintenance ? 'out' : 'in')}")%>"><% if maintenance -%><%= I18n.t :set_out, :scope => :server_state %><%else-%><%= I18n.t :set_in, :scope => :server_state %><%end-%> <%= I18n.t :maintenance, :scope => :server_state %></a></div>
			<h2>ServerState <%= I18n.t(:maintenance, :scope => :server_state).capitalize%></h2>
		</div>
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th><%= I18n.t :authorized_ips, :scope => :server_state %></th>
					<th class="actions"><a href="" onclick="$('addIp').show();return false;"><%= I18n.t :add_ip, :scope => :server_state %></a></th>
				</tr>
				<tr id="addIp" style="display:none">
					<th colspan="2">
						<%= render :partial => 'add_ip' %>
					</th>
				</tr>
			</thead>
			<tbody class="records" id="bodyListIps">
			<%= render :partial => 'list_ips'%>
			</tbody>
		</table>
	</div>
	<% if defined?(PhusionPassenger) -%>
	<div class="active-scaffold default-theme">
		<div class="active-scaffold-header">
			<h2>ServerState Passenger</h2>
		</div>
		<p>Application Running on Passenger : <%= link_to_remote 'Relancer Passenger', :url=> url_for(:controller => 'server_state', :action => 'passenger_restart'), :method => 'post', :confirm => 'Are you sure to restart Phusion Passenger?' %> <span id="passenger_return"></span></p>
		<div>Memory Stats : <%= link_to_remote 'Get Passenger Memory stats', :url=> url_for(:controller => 'server_state', :action => 'passenger_memory'), :method => 'post' %>
			<pre id="passenger_memory_stat">
			</pre>
		</div>
	</div>
	<% end -%>
</div>

